<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Summary</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/summary.css">
    <link rel="icon" type="image/png" href="/images/tempotalk_logo_white.png">
</head>
<body>
    <%- include('partials/nav-user', { userInfo: userInfo }) %>

    <div>
        <h1>Welcome in, here's your account information</h1>
        <a href="/home-user/<%= userInfo.username %>" class="confirm-btn">
            <%= userInfo.username %>
        </a>
        <h2>Password: <%= userInfo.password %></h2>
        <h2>Email: <%= userInfo.email %></h2>
        <a href="/home-user/<%= userInfo.username %>">Confirm</a>
    </div>
</body>
</html>