<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Settings - TempoTalk</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/settings.css">
    <link rel="stylesheet" href="/css/general.css">
</head>
<body>
    <!-- Navigation Bar -->
    <%- include('partials/nav-user', { userInfo: userInfo }) %>

    <main class="settings-card">
    <h2>Account Settings</h2>

    <h3>Current User Information</h3>
    <p>Username: <%= userInfo.username %> </p>
    <p>Password: 
        <% for (let i = 0; i < userInfo.password.length; i++) { %>
        <%= "*" %>
        <% } %> 
    </p>
    <p>Email Address: <%= userInfo.email %> </p>
    <p>Account Created: <%= new Date(userInfo.timestamp).toLocaleString() %></p>

    <h3>Change Your Info</h3>

    <form id="account-creation" action="/update-settings" method="POST">
        <div class="input-group">
            <label for="username">Name</label>
            <input type="text" id="username" name="username" placeholder="User" onfocus="this.select()">
        </div>

        <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Email" onfocus="this.select()">
        </div>

        <div class="input-group">
            <label for="password">New Password</label>
            <input type="password" id="password" name="password" placeholder="Password">
        </div>

        <button type="submit" class="btn-update">Save Changes</button>
    </form>

    <div class="danger-zone">
        <form action="/delete-account" method="POST" onsubmit="return confirm('Delete account permanently?')">
            <button type="submit" class="delete-link">
                Delete Account
            </button>
        </form>
    </div>
    </main>
</body>
</html>