<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TempoTalk</title>

    <!-- Styles -->
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="icon" type="image/png" href="/images/tempotalk_logo_white.png">

</head>
<body>
    <!-- Navigation Bar -->
    <% if (!userInfo) { %>
        <%- include('partials/nav-new') %>
    <% } else { %>
        <%- include('partials/nav-user') %>
    <% } %>

    <div class="layout-container">
        <div class="column" id="column-left">
            <% if (userInfo) { %>
                <a href="/home-user/<%= userInfo.username %>">&lt; Back</a>
            <% } else { %>
                <a href="/">&lt; Back</a>
            <% } %>
        </div>

    <div class="column" id="column-middle">
        <div class="post">
            <h1 id="title"><%= post.title %></h1>
            <p>
                Posted by <strong><%= post.username %></strong>
                • <%= new Date(post.created_at).toLocaleString() %>
            </p>
            <p><%= post.content %></p>
            <% if (post.links) { %>
                <p>
                    Link:
                    <a href="<%= post.links %>" target="_blank">
                        <%= post.links %>
                    </a>
                </p>
            <% } %>
        </div>
    </div>

        <div class="column" id="column-right">
            <div>

            </div>
        </div>
    </div>
</body>
</html>